@{
    Layout = null;
    @model System_tag_type
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="~/grafana-UI-frame/style/main-subpage.css" />
        <script type="text/javascript" src="~/grafana-UI-frame/script/lib/jquery-3.3.1.min.js"></script>
        <script>
            $(function () {
                $('.submit').click(function () {
                    var name = $('#type_name_en').val();
               
                    if (name == "") {
                        $("#prompt").text("编码名称不能为空字符");
                        $("#prompt").show();
                    }
                    else {
                        $("#myfrom").submit();
                    }
                });
            });
        </script>
    </head>
    <body>
        <div class="head">
            <div class="title">
                主页>配置><span>
                    @{ if (Model == null)
                        { <text>新增标签类型</text>}
                    else
                    { <text>编辑标签类型</text>}}
                </span>
                <div class="prompt" id="prompt"></div>
            </div>
        </div>
        <div class="body">
            <form class="form-horizontal" action="/TagType/EditHandle" method="post" id="myfrom">
                <input type="text" style="display:none" class="text" id="id" name="id" value="@if (Model != null){@Model.id}" />
                <div class="space"></div>
                <div class="single_div">
                    <div class="left">标签类型编码(英文)</div>
                    <div class="right">
                        <input type="text" class="text" id="type_name_en" name="type_name_en" value="@if(Model!=null){@Model.type_name_en}" />
                    </div>
                </div>
                <div class="space"></div>
                <div class="single_div">
                    <div class="left">标签名称</div>
                    <div class="right">
                        <input type="text" class="text" id="type_name_cn" name="type_name_cn" value="@if(Model!=null){@Model.type_name_cn}" />
                    </div>
                </div>
                <div class="space"></div>
                <div class="single_div">
                    <div class="left">标签描述信息</div>
                    <div class="right">
                        <input type="text" class="text" id="type_description" name="type_description" value="@if(Model!=null){@Model.type_description}" />
                    </div>
                </div>
                <div class="space"></div>
                <div class="single_div">
                    <div class="left"></div>
                    <div class="right">
                        <input type="button" class="submit" style=" width:15%" value="提交" />
                    </div>
                </div>
                <div class="space"></div>
            </form>
        </div>
    </body>
</html>





