@{
    Layout = null;
    @model List<Advantech.IFactory.CommonLibrary.MachineInfo>
}

<div class="col-sm-9">
    <select id="machine_id" name="machine_id" class="form-control" style="width:50%">
        <option value=""></option>
        @{
            foreach (var items in Model)
            {
                <option value="@items.machine_id">@items.machine_name_en</option>
            }
        }
    </select>
</div>