@{
    Layout = null;
    List<Advantech.IFactory.CommonLibrary.line_info> objList = new List<Advantech.IFactory.CommonLibrary.line_info>();
    if (ViewBag.lineList != null)
    {
        objList = ViewBag.lineList;
    }
}
<select class="select" id="line_id" name="line_id">
    <option value=""></option>
    @{
        for (int i = 0; i < objList.Count; i++)
        {
            <!option value="@objList[i].line_id">@objList[i].line_name_en</!option>
        }
    }
</select>
