@{
    Layout = null;
    List<city_info> objList = new List<city_info>();
    if (ViewBag.cityList != null)
    {
        objList = ViewBag.cityList;
    }
}
<select class="select" id="city_id" name="city_id" onchange="getPlantList()">
    <option value=""></option>
    @{
        for (int i = 0; i < objList.Count; i++)
        {
            <option value="@objList[i].city_id">@objList[i].city_name_cn</option>
        }
    }
</select>
