
@{
    ViewData["Title"] = "test";
}



<div id="test">


    aaaa
</div>



@section  Scripts {

<script>
    $("#test").dialog({
                title: "签到人员信息确认",
                modal: true,
                width: "400"
            });
    alert(11);

</script>
}