@{
    Layout = null;
    @model Advantech.IFactory.CommonLibrary.person
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/grafana-UI-frame/style/main-subpage.css" />
    <script type="text/javascript" src="~/grafana-UI-frame/script/lib/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $('.submit').click(function () {
                var factory = $('#factory').val();
                var dept = $('#dept').val();
                var id_num = $('#id_num').val();
                var user_name = $('#user_name').val();
                var id = $('#id').val();

                if (factory == "" || dept == "" || id_num == "" || user_name == "") {
                    $("#prompt").text("factory,dept,id_num,user_name Can't be empty");
                    $("#prompt").show();
                }
                else {
                        $.ajax({
                            type: "POST",
                            url: "/person/Verification",
                            data: { user_name: user_name, id: id },
                            success: function (msg) {
                                if (msg == "Success") {
                                    $("#prompt").hide();
                                    $("#myfrom").submit();
                                }
                                else {
                                    $("#prompt").text("The ProtocolCode has already existed");
                                    $("#prompt").show();
                                }
                            },
                            error: function (msg) {
                                $("#prompt").text("Getting data failure");
                                $("#prompt").show();
                            }
                        });
                }

            });
        });
    </script>
</head>
<body>
    <div class="head">
        <div class="title">
            主页>配置><span>
                @{ if (Model == null)
                    { <text>新增人员</text>}
                else
                { <text>编辑人员</text>}}
            </span>
        </div>
    </div>
    <div class="body">
        <div class="space"></div>
        <div class="single_div">
            <div class="edit_title">
                @{
                    if (Model == null)
                    { <text>新增人员</text>}
                else
                { <text>编辑人员</text>}
                }
            </div>
            <div class="prompt" id="prompt"></div>
        </div>
        <form class="form-horizontal" asp-action="EditHandle" asp-controller="person" method="post" id="myfrom">
            <div class="space"><input type="hidden" value="@if(ViewBag.id!=null){@ViewBag.id}" id="id" name="id" /></div>
            <div class="single_div">
                <div class="left">部门</div>
                <div class="right">
                    <select class="select" id="dept_id" name="dept_id">
                        <option value=""></option>
                        @{
                            Advantech.IFactory.CommonLibrary.DeptInfoManager AIM = new Advantech.IFactory.CommonLibrary.DeptInfoManager();
                            List<Advantech.IFactory.CommonLibrary.dept_info> objList = AIM.SelectAll();
                            if (objList.Count > 0)
                            {
                                for (int i = 0; i < objList.Count; i++)
                                {
                                    <!option value="@objList[i].dept_id" @if (Model != null) { if (objList[i].dept_id == Model.dept_id) { <text> selected</text>}}>@objList[i].dept_name_cn</!option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>


            <div class="space"></div>
            <div class="single_div">
                <div class="left">员工工号</div>
                <div class="right">
                    <input type="text" class="text" id="id_num" name="id_num" value="@if(Model!=null){@Model.id_num}" />
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left">员工卡号</div>
                <div class="right">
                    <input type="text" class="text" id="card_num" name="card_num" value="@if(Model!=null){@Model.card_num}" />
                </div>
            </div>
            @*<div class="space"></div>
        <div class="single_div">
            <div class="left">员工等级</div>
            <div class="right">
                <select class="select" id="user_level" name="user_level">
                    <option></option>
                    <option value="员工">员工</option>
                    <option value="管理者">管理者</option>
                    <option value="高级管理者">高级管理者</option>
                </select>
            </div>
        </div>*@
            <div class="space"></div>
            <div class="single_div">
                <div class="left">员工职位</div>
                <div class="right">
                    <input type="text" class="text" id="user_position" name="user_position" value="@if(Model!=null){@Model.user_position}" />
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left">员工名称</div>
                <div class="right">
                    <input type="text" class="text" id="user_name" name="user_name" value="@if(Model!=null){@Model.user_name}" />
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left">邮箱</div>
                <div class="right">
                    <input type="text" class="text" id="user_email" name="user_email" value="@if(Model!=null){@Model.user_email}" />
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left">手机号码</div>
                <div class="right">
                    <input type="text" class="text" id="mobile_phone" name="mobile_phone" value="@if(Model!=null){@Model.mobile_phone}" />
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left">其他联系方式</div>
                <div class="right">
                    <input type="text" class="text" id="other_contact" name="other_contact" value="@if(Model!=null){@Model.other_contact}" />
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left"></div>
                <div class="right">
                    <input type="button" class="submit" style=" width:15%" value="提交" />
                </div>
            </div>
            <div class="space"></div>
        </form>
    </div>
</body>
</html>
