@{
    Layout = null;
    @model Advantech.IFactory.CommonLibrary.user
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/grafana-UI-frame/style/main-subpage.css" />
    <script type="text/javascript" src="~/grafana-UI-frame/script/lib/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $('.submit').click(function () {
                var user_name = $('#user_name').val();
                var oldpassword = $('#oldpassword').val();
                var newpassword = $('#newpassword').val();
                var confirmpassword = $('#confirmpassword').val();

                if (oldpassword == "" || newpassword == "" || confirmpassword == "") {
                    $("#prompt").text("UserName and user_level Can't be empty");
                    $("#prompt").show();
                }
                else {
                    if (newpassword != confirmpassword) {

                        $("#prompt").text("Two inputted password inconsistencies");
                        $("#prompt").show();
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            url: "/User/LoginHandle",
                            //url: "/User/LoginHandle?userName=" + user_name +"&passWord=" + oldpassword + "&remember=false",
                            data: { userName: user_name, passWord: oldpassword },
                            success: function (msg) {
                                if (msg == "Success") {
                                    $("#prompt").hide();
                                    $("#myfrom").submit();
                                }
                                else {
                                    $("#prompt").text("Old password error");
                                    $("#prompt").show();
                                }
                            },
                            error: function (msg) {
                                $("#prompt").text("Getting the background data error");
                                $("#prompt").show();
                            }
                        });
                    }
                    //$.ajax({
                    //    type: "POST",
                    //    url: "/User/Verification",
                    //    data: { userName: user_name, id: id },
                    //    success: function (msg) {
                    //        if (msg == "Success") {
                    //            $("#prompt").hide();
                    //            $("#myfrom").submit();
                    //        }
                    //        else {
                    //            $("#prompt").text("The user has already existed");
                    //            $("#prompt").show();
                    //        }
                    //    },
                    //    error: function (msg) {
                    //        $("#prompt").text("Getting data failure");
                    //        $("#prompt").show();
                    //    }
                    //});
                }

            });
        });
    </script>
</head>
<body>
    <div class="head">
        <div class="title">
           主页>用户管理><span>修改密码</span>
        </div>
    </div>
    <div class="body">
        <div class="space"></div>
        <div class="single_div">
            <div class="edit_title">
                修改密码
            </div>
            <div class="prompt" id="prompt"></div>
        </div>
        <form class="form-horizontal" action="/User/EditPassWordHandle" method="post" id="myfrom">
            <div class="space"></div>
            <div class="single_div">
                <div class="left">用户名</div>
                <div class="right">
                    <input type="text" class="text" id="user_name" name="user_name" value="@WebUserManager.Current.Get("user_name")" readonly="readonly" />
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left">旧密码</div>
                <div class="right">
                    <input type="password" class="text" id="oldpassword" name="oldpassword" value="" />
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left">新密码</div>
                <div class="right">
                    <input type="password" class="text" id="newpassword" name="newpassword" value="" />
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left">确认密码</div>
                <div class="right">
                    <input type="password" class="text" id="confirmpassword" name="confirmpassword" value="" />
                </div>
            </div>

            <div class="space"></div>
            <div class="single_div">
                <div class="left"></div>
                <div class="right">
                    <input type="button" class="submit" style=" width:8%" value="提交" />
                </div>
            </div>
            <div class="space"></div>
        </form>
    </div>
</body>
</html>
